<div class="login-wrapper">
  <div class="glass-card">
    <h2>Create Account</h2>
    <p class="subtitle">Sign up to get started</p>

    <form [formGroup]="signupForm" (ngSubmit)="register()">
      <!-- Full Name -->
      <div class="form-group">
        <div class="input-wrapper">
          <mat-icon class="form-icon">person</mat-icon>
          <input
            type="text"
            formControlName="fullName"
            placeholder="Full Name"
          />
        </div>
        <small *ngIf="submitted && f['fullName'].errors?.['required']"
          >Name is required</small
        >
      </div>

      <!-- Email -->
      <div class="form-group">
        <div class="input-wrapper">
          <mat-icon class="form-icon">mail</mat-icon>
          <input type="email" formControlName="email" placeholder="Email" />
        </div>
        <small
          *ngIf="f['email'].errors?.['required'] && (f['email'].dirty || submitted)"
        >
          Email is required
        </small>
        <small
          *ngIf="f['email'].errors?.['email'] && (f['email'].dirty || submitted)"
        >
          Invalid email
        </small>
      </div>
      <div class="form-group">
        <div class="input-wrapper">
          <mat-icon class="form-icon">phone</mat-icon>
          <input
            type="tel"
            formControlName="phone"
            placeholder="Phone Number"
            maxLength="10"
            pattern="^[0-9]{10}$"
          />
        </div>
        <small
          *ngIf="f['phone'].errors?.['required'] && (f['phone'].dirty || submitted)"
        >
          Phone number is required
        </small>
        <small
          *ngIf="f['phone'].errors?.['pattern'] && (f['phone'].dirty || submitted)"
        >
          Invalid phone number
        </small>
      </div>
      <!-- Password -->
      <div class="form-group">
        <div class="input-wrapper">
          <mat-icon class="form-icon">lock</mat-icon>
          <input
            type="password"
            formControlName="password"
            placeholder="Password"
          />
        </div>
        <small
          *ngIf="f['password'].errors?.['required'] && (f['password'].dirty || submitted)"
        >
          Password is required
        </small>
        <small
          *ngIf="f['password'].errors?.['minlength'] && (f['password'].dirty || submitted)"
        >
          Minimum 8 characters
        </small>
        <small
          *ngIf="f['password'].errors?.['pattern'] && (f['password'].dirty || submitted)"
        >
          Must include uppercase, number, and special character
        </small>
      </div>

      <!-- Confirm Password -->
      <div class="form-group">
        <div class="input-wrapper">
          <mat-icon class="form-icon">lock</mat-icon>
          <input
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
          />
        </div>
        <small
          *ngIf="f['confirmPassword'].errors?.['required'] && (f['confirmPassword'].dirty || submitted)"
        >
          Please confirm password
        </small>
        <small
          *ngIf="signupForm.errors?.['mismatch'] && (f['confirmPassword'].dirty || submitted)"
        >
          Passwords do not match
        </small>
      </div>

      <!-- Accept Terms -->
      <div class="form-group checkboxes">
        <mat-checkbox formControlName="terms"
          >Accept Terms & Conditions</mat-checkbox
        >
        <small *ngIf="submitted && f['terms'].errors?.['required']"
          >You must accept terms</small
        >
      </div>

      <button mat-raised-button type="submit" class="login-btn">
        <mat-icon>person_add</mat-icon> Register
      </button>
    </form>

    <div class="social-icons">
      <span>or continue with</span>
      <div class="icons">
        <a class="social-button facebook" aria-label="Facebook">
          <nz-icon nzType="facebook" nzTheme="fill"></nz-icon>
        </a>

        <a class="social-button google" aria-label="Google">
          <nz-icon nzType="google" nzTheme="outline"></nz-icon>
        </a>

        <a class="social-button linkedin" aria-label="LinkedIn">
          <nz-icon nzType="linkedin" nzTheme="outline"></nz-icon>
        </a>
      </div>
    </div>

    <p class="signup-link">
      Already have an account? <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
