<div class="invoice-list-container">
  <button nz-button nzType="primary" class="add-btn" (click)="navigateToNew()">
    + New Invoice
  </button>

  <ag-grid-angular
    class="ag-theme-alpine"
    style="width: 100%; height: 500px;"
    [rowData]="invoices"
    [columnDefs]="columnDefs"
    [pagination]="true"
    [paginationPageSize]="10"
    (gridReady)="onGridReady($event)"
    [overlayLoadingTemplate]="overlayLoading"
    [overlayNoRowsTemplate]="overlayNoRows"
  >
  </ag-grid-angular>
</div>
